.hideListButton {
    cursor: pointer;
    height: 2.3em;
    margin-top: 0.8em;
    margin-left: 0.7em;
    border: 2px solid red;
    border-radius: 7px;
    width: 5em;
    background-color: #f0c5c5;
}